* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #50d890;
  min-height: 100vh;
}

.solitaire {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
  font-size: 21px;
  color: black;
  background: rgb(233, 233, 233);
  border: 1px solid #88888875;
  border-radius: 9px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.red {
  color: #da2d2d;
}

.stock {
  grid-column: 1 / 2;
  height: 200px;
  background: #1b6ca8;
  border: 12px solid white;
  border-radius: 10px;
}

.waste {
  grid-column: 2 / 3;
  height: 200px;
  border-radius: 10px;
}

.foundation {
  height: 200px;
  border-radius: 10px;
}

.foundation:nth-child(3) {
  grid-column: 4 / 5;
}

.tableau {
  height: 200px;
  border-radius: 10px;
}

.tableau:nth-child(4) {
  grid-column: 1 / 2;
}

.empty {
  border: 2px dashed rgba(0, 0, 0, 0.315);
}

.origin {
  /* border: 2px solid #88888800; */
  box-shadow: 0 0 0 7px #fbe555;
}