* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  background-color: #2bc272;
  min-height: 100vh;
}

.solitaire {
  display: grid;
  width: 100vw;
  max-width: 1000px;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 7px 3px;
  font-size: 21px;
  color: black;
  background: rgb(233, 233, 233);
  /* border: 1px solid #888888b2; */
  border-radius: 9px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.rank-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.rank-suit {
  display: flex;
  width: 25px;
  flex-direction: column;
  align-items: center;
}

.lil {
  width: 12px;
  height: auto;
  /* margin-top: -1px; */
}

img {
  height: 50px;
}

.rank-bottom {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.red {
  color: #CD0000;
}

.stock {
  display: flex;
  grid-column: 1 / 2;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: #1b6ca8;
  border: 7px solid white;
  border-radius: 10px;
}

.stock-empty {
  background: #2bc272;
  border: 2px dashed #229b5b;
}

.loop {
  font-size: 100px;
  color: #229b5a;
  transform: scaleX(-1);
}

.waste {
  grid-column: 2 / 3;
  height: 200px;
  border-radius: 10px;
}

.foundation {
  height: 200px;
  border-radius: 10px;
}

.foundation:nth-child(3) {
  grid-column: 4 / 5;
}

.tableau {
  height: 200px;
  border-radius: 10px;
}

.tableau:nth-child(4) {
  grid-column: 1 / 2;
}

.empty {
  border: 2px dashed #229b5b;
}

.origin {
  box-shadow: 0 0 0 7px #f9da0a;
}